deploy_dir: /home/ubuntu/Run
download_images:
  output_dir: images
  targets:
    os_image:
      file_name: ubuntu-20.04-server-cloudimg-amd64.img
      url: https://cloud-images.ubuntu.com/releases/20.04/release
    vyos_disk:
      file_name: empty8G.qcow2
      url: https://downloads.sourceforge.net/project/gns-3/Empty%20Qemu%20disk
    vyos_image:
      file_name: vyos-1.1.8-amd64.iso
      url: https://ftp.yz.yamagata-u.ac.jp/pub/vyos/iso/release/1.1.8
apt_proxy:
  proxy_server:
    ip: 192.168.0.200
    port: 3142
vm_list:
  "1-1":
    virt:
      type: file
      dir: virt
      file: gns3.xml
      setting:
        vm_name: gns3-1
        config_img_file: config.img
        qcow2_disk_file: ubuntu.qcow2
        vcpu: 4
        memory_gb: 16
    cloud_init_base:
      type: file
      dir: cloud-init
      file: base.yaml
      setting:
        users:
          ubuntu:
            password: PA_SS_WO_RD
          gns3:
            password: GNS3_PASS_WORD
    cloud_init_network:
      type: file
      dir: cloud-init
      file: network.yaml
      setting:
        ip: 192.168.100.100/24
        gateway: 192.168.100.1
        dns_ip: 8.8.8.8
    qemu:
      type: command
      setting:
        os_image_file: ubuntu-20.04-server-cloudimg-amd64.img
        qcow2_disk_file: ubuntu.qcow2
        disk_gb: 30G
    cloud_init_config_img:
      type: command
      setting:
        cloud_init_network_file: network.yaml
        cloud_init_base_file: base.yaml
        config_img_file: config.img
  "1-2":
    virt:
      type: file
      dir: virt
      file: gns3.xml
      setting:
        vm_name: gns3-2
        config_img_file: config.img
        qcow2_disk_file: ubuntu.qcow2
        vcpu: 4
        memory_gb: 16
    cloud_init_base:
      type: file
      dir: cloud-init
      file: base.yaml
      setting:
        users:
          ubuntu:
            password: PA_SS_WO_RD
          gns3:
            password: GNS3_PASS_WORD
    cloud_init_network:
      type: file
      dir: cloud-init
      file: network.yaml
      setting:
        ip: 192.168.100.101/24
        gateway: 192.168.100.1
        dns_ip: 8.8.8.8
    qemu:
      type: command
      setting:
        os_image_file: ubuntu-20.04-server-cloudimg-amd64.img
        qcow2_disk_file: ubuntu.qcow2
        disk_gb: 30G
    cloud_init_config_img:
      type: command
      setting:
        cloud_init_network_file: network.yaml
        cloud_init_base_file: base.yaml
        config_img_file: config.img
  "1-3":
    virt:
      type: file
      dir: virt
      file: gns3.xml
      setting:
        vm_name: gns3-3
        config_img_file: config.img
        qcow2_disk_file: ubuntu.qcow2
        vcpu: 4
        memory_gb: 16
    cloud_init_base:
      type: file
      dir: cloud-init
      file: base.yaml
      setting:
        users:
          ubuntu:
            password: PA_SS_WO_RD
          gns3:
            password: GNS3_PASS_WORD
    cloud_init_network:
      type: file
      dir: cloud-init
      file: network.yaml
      setting:
        ip: 192.168.100.102/24
        gateway: 192.168.100.1
        dns_ip: 8.8.8.8
    qemu:
      type: command
      setting:
        os_image_file: ubuntu-20.04-server-cloudimg-amd64.img
        qcow2_disk_file: ubuntu.qcow2
        disk_gb: 30G
    cloud_init_config_img:
      type: command
      setting:
        cloud_init_network_file: network.yaml
        cloud_init_base_file: base.yaml
        config_img_file: config.img
  "1-4":
    virt:
      type: file
      dir: virt
      file: gns3.xml
      setting:
        vm_name: gns3-4
        config_img_file: config.img
        qcow2_disk_file: ubuntu.qcow2
        vcpu: 4
        memory_gb: 16
    cloud_init_base:
      type: file
      dir: cloud-init
      file: base.yaml
      setting:
        users:
          ubuntu:
            password: PA_SS_WO_RD
          gns3:
            password: GNS3_PASS_WORD
    cloud_init_network:
      type: file
      dir: cloud-init
      file: network.yaml
      setting:
        ip: 192.168.100.103/24
        gateway: 192.168.100.1
        dns_ip: 8.8.8.8
    qemu:
      type: command
      setting:
        os_image_file: ubuntu-20.04-server-cloudimg-amd64.img
        qcow2_disk_file: ubuntu.qcow2
        disk_gb: 30G
    cloud_init_config_img:
      type: command
      setting:
        cloud_init_network_file: network.yaml
        cloud_init_base_file: base.yaml
        config_img_file: config.img

